/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
     
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      footer{
        background:#242424;
        color: #fff;
      }

      .text-name{
        display: inline;
       color: #fff;
       font-size: 18px;
      /*font-weight: bold;*/
      }